<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.8.0 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b05442d3a337e720e541f33f65bbdd:9e3547275cbdc7da8a90d2c23e77bc86:ba506301ccba5aec37c1b8c736a9ddd1$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameSpriteAtlas.1@2x.png</string>
                <key>size</key>
                <string>{1997,269}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_7@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{18,53}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{109,267}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_6@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{16,53}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{112,1},{106,267}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_5@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{18,53}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{220,1},{101,267}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_8@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{18,56}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{323,1},{113,264}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_4@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{21,56}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{438,1},{104,264}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_3@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{23,61}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{544,1},{112,259}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_9@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{18,62}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{658,1},{119,258}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_2@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{21,64}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{779,1},{121,256}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_1@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{20,65}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{902,1},{124,255}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_10@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{19,65}</string>
                        <key>spriteSourceSize</key>
                        <string>{160,320}</string>
                        <key>textureRect</key>
                        <string>{{1028,1},{123,255}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>finger/finger02@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{178,206}</string>
                        <key>textureRect</key>
                        <string>{{1153,1},{178,206}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bgstar/bgstarmoon_0004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{43,44}</string>
                        <key>textureRect</key>
                        <string>{{1153,209},{43,44}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bgstar/bgstarmoon_0002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{34,31}</string>
                        <key>textureRect</key>
                        <string>{{1198,209},{31,34}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bgstar/bgstarmoon_0001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{33,29}</string>
                        <key>textureRect</key>
                        <string>{{1231,209},{29,33}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>bgstar/bgstarmoon_0003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{31,32}</string>
                        <key>textureRect</key>
                        <string>{{1262,209},{31,32}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>finger/finger01@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{178,206}</string>
                        <key>textureRect</key>
                        <string>{{1333,1},{147,171}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>yellowStar@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{3,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{100,100}</string>
                        <key>textureRect</key>
                        <string>{{1333,174},{94,94}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{320,64}</string>
                        <key>textureRect</key>
                        <string>{{1429,174},{320,64}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1482,1},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1612,1},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_008@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1612,1},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1742,1},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_007@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1742,1},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PhysicsBodyTexture@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1872,1},{124,127}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1751,131},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_005@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1751,131},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_006@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{128,128}</string>
                        <key>textureRect</key>
                        <string>{{1751,131},{128,128}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>closeButton@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{4,10}</string>
                        <key>spriteSourceSize</key>
                        <string>{120,120}</string>
                        <key>textureRect</key>
                        <string>{{1881,130},{114,99}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>GameSpriteAtlas.1@3x.png</string>
                <key>size</key>
                <string>{1979,591}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>enemy@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{480,94}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{94,480}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_6@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{27,85}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{97,1},{168,427}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_5@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{29,86}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{97,430},{426,160}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_7@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{29,86}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{267,1},{173,426}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_8@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{29,91}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{442,1},{180,421}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_4@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{35,91}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{525,424},{421,164}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_3@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{38,98}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{624,1},{178,414}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_9@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{30,100}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{804,1},{189,412}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>finger/finger01@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{178,206}</string>
                        <key>textureRect</key>
                        <string>{{948,415},{147,171}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_2@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{34,103}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{995,1},{193,409}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>finger/finger02@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{178,206}</string>
                        <key>textureRect</key>
                        <string>{{1097,412},{206,178}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_10@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{31,104}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1190,1},{196,408}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>closeButton@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{5,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{180,180}</string>
                        <key>textureRect</key>
                        <string>{{1305,411},{149,170}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>tentacles/tentacles_1@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{33,105}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1388,1},{196,407}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>yellowStar@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{5,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{150,150}</string>
                        <key>textureRect</key>
                        <string>{{1456,410},{141,141}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_001@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1599,1},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>PhysicsBodyTexture@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{1,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1793,1},{185,189}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_002@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1586,195},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_008@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1586,195},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_003@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1780,195},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_007@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1780,195},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_004@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1599,389},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_005@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1599,389},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face_1/face_1_006@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{192,192}</string>
                        <key>textureRect</key>
                        <string>{{1599,389},{192,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
